<h1>News Scraper</h1>

<p>View and comment on the latest news.</p>

<ul>
  {{#each articles}}
    <div class="articleSection">
      <li><span class="label"><strong>Headline: </strong></span> {{this.headline}}</li>
      <li><span class="label"><strong>Summary: </strong></span> {{this.summary}}</li>
      <li><span class="label"><strong>URL: </strong></span> {{this.url}}</li>

      <br>
      <h2>Comments:</h2>
      <p class="comments">{{this.Comments}}</p>

      <div class="form-group">
        <label for="comments">Add a new comment:</label><br>
        <textarea id="comments" name="comments" rows="4" cols="40">{{this.comments}}</textarea>
      </div>
      
      <button data-id="{{this.id}}" id="submit">Submit</button>
      <br>
    </div>
  {{/each}}
</ul>